@font-face {
  font-family: 'dancing-font';
  src: url('../fonts/DancingScript-Regular.ttf') format('truetype');
  font-weight: regular;
}

@font-face {
  font-family: 'dancing-font';
  src: url('../fonts/DancingScript-Medium.ttf') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: 'dancing-font';
  src: url('../fonts/DancingScript-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'dancing-font';
  src: url('../fonts/DancingScript-SemiBold.ttf') format('truetype');
  font-weight: semibold;
}